@model IEnumerable<HelloWorldWebApp.Data.Models.LibraryResource>

@{
    ViewData["Title"] = "Library Resources";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Library Resources</h1>

@if (User.IsInRole("Operator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p> 
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recommendation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skill)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recommendation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>
            <td>
                <a asp-controller="Skills" asp-action="Details" asp-route-id="@item.Skill.Id">@item.Skill.Name</a>
            </td>
            <td>
                @if (User.IsInRole("Operator"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <span>|</span>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
