@model IEnumerable<HelloWorldWebApp.Data.Models.Intern>

@{
    ViewData["Title"] = "Interns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Interns</h1>

@if (User.IsInRole("Operator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p> 
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                Age
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr data-entity-id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @item.GetAge()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @if (User.IsInRole("Operator"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <span>|</span>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript" src="~/js/Notifications/Notifications.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/Interns/Index.js" asp-append-version="true"></script>
}
