@model IEnumerable<HelloWorldWebApp.Data.Models.Skill>

@{
    ViewData["Title"] = "Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Skills</h1>

@if (User.IsInRole("Operator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p> 
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillMatrixUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intern)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr data-entity-id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillMatrixUrl)
            </td>
            <td>
                <a asp-controller="Interns" asp-action="Details" asp-route-id="@item.Intern.Id">@item.Intern.Name</a>
            </td>
            <td>
                @if (User.IsInRole("Operator"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <span>|</span>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript" src="~/js/Broadcast/Broadcast.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/Skills/Index.js" asp-append-version="true"></script>
}